<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <!-- Ajoutez ici des éléments du header si nécessaire -->
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <span class="welcome-message">Bienvenue, {{ user?.firstName }} {{ user?.lastName }}</span>
    <button class="logout-btn btn btn-danger" (click)="logout()">Déconnexion</button>
  </div>
</div>
