/* Personnalisation du bouton profil */
.dropdown-toggle {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #333;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  min-width: 250px;
}

.dropdown-item {
  font-size: 16px;
  padding: 10px 15px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.dropdown-divider {
  margin: 5px 0;
}
