<nav class="sidebar">
  <div class="logo">EventSync</div>
  <ul>
    <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Tableau de Bord</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/tasks']">Tâches</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/events']">Événements</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/notifications']">Notifications</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/settings']">Paramètres</a></li>
  </ul>
</nav>
